.container-home {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.7) 100%);
}

.section-movies {
    padding: 0 32px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
}